@media screen and (max-width: 939px) and (min-width: 480px) {
  .navbar-nav {
    /* display: flex; */
    flex-direction: column;
    justify-content: start;
  }

  .navbar-nav .nav-item:nth-child(3) {
    display: none;
  }
  .project-content {
    display: block;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .container {
    margin: 0 auto;
    width: 100%;
  }

  #nav-bar .nav-item a:nth-child(3) {
    display: none;
  }

  #banner img {
    height: auto;
    width: 100%;
    object-fit: fill;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item a {
    margin: 10px 0;
  }

  .nav-item h1 {
    font-size: 1.5rem;
  }

  #about .container {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }

  #job-info .container {
    display: block;
  }

  .container .row-3 {
    display: block;
  }

  .certificate-row {
    grid-template-columns: 1fr;
    padding: 10px;
    border-bottom: 1px solid #d6c08d;
  }

  .certificate-row:first-child {
    border-right: none;
  }

  .certificate-row:last-child {
    padding: 10px;
  }
  .certificate-row:last-child:after {
    display: none;
  }

  #project .project-content {
    display: block;
  }
  .project-content .project {
    margin-top: 10px;
  }
  .img-certificate {
    width: 400px;
    height: 300px;
  }
  #footer ul {
    max-width: 100%;
  }
}
